<footer>
<div class='footer'>
  <p>© for_Tune</p>
</div>

<div class='routine-btn'>
  <a href="/routines/new">
    <button type="button" class="btn btn-primary btn-lg">routineを投稿する</button>
  </a>
</div>
</footer>