.fantasy {
  font-family: fantasy;
}

.Impact {
  font-family: Impact, serif;
}

.category-search {
  display: flex;
  list-style: none;
  align-items: flex-end;
}

.routine-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.routine-lists>.routine {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}


.routine-img-content {
  position: relative;
}

.routine-img {
  width: 33vh;
  height: 33vh;
}

.routine-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.routine-name {
  font-size: 2.5vh;
}

.routine-description {
  font-size: 1.5vh;
  display: flex;
  justify-content: space-between;
}

